<div class="weui-cells__title">职业</div>

<div class="weui-cells">
  <div class="weui-cell weui-cell_select">
    <div class="weui-cell__bd">
      <select class="weui-select" name="select1">
        <option selected="" value="1">法师(SOR)</option>
        <option value="2">圣骑士(PAL)</option>
        <option value="3">亚马逊(AMA)</option>
        <option value="4">亡灵法师(NEC)</option>
        <option value="5">野蛮人(BAR)</option>
        <option value="6">刺客(ASN)</option>
        <option value="7">德鲁伊(DRU)</option>
      </select>
    </div>
  </div>
</div>
