<div class="weui-msg">
  <div class="weui-msg__icon-area">
    <!--<i class="weui-icon-success weui-icon_msg"></i>-->
  </div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">我的</h2>
    <p class="weui-msg__desc">
      您好，
      <span class="color-blue">{{user.nickname}}</span>
    </p>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a class="weui-btn weui-btn_warn" (click)="logout()">注销</a>
    </p>
  </div>
</div>

<div class="weui-msg mt200">
  <div class="weui-msg__text-area">
    <p class="weui-msg__desc">
      接下来预计会逐步加入装备属性功能，配装功能，搜索功能。
      如果用户数量多了，打算推出快捷将自己打到的东西进行上架，让其他玩家进行搜索购买等功能。
    </p>
    <p class="weui-msg__desc">
      如果您有建议或者想一起开发的可以直接联系我
    </p>
    <p class="weui-msg__desc">
      联系方式qq253498229/微信wangbin_test。
    </p>
  </div>
</div>
