<div class="weui-cells__title">名称</div>
<div class="weui-cells">
  <div class="weui-cell">
    <div class="weui-cell__bd">
      <input class="weui-input" type="text" placeholder="请输入物品名称" maxlength="64">
    </div>
  </div>
</div>

<div class="weui-cells__title">账号</div>
<div class="weui-cells">
  <div class="weui-cell weui-cell_select">
    <div class="weui-cell__bd">
      <select class="weui-select" name="select1">
        <option selected="" value="0">待定</option>
        <ng-container *ngFor="let item of accounts">
          <option value="{{item.code}}">{{item.name}}</option>
        </ng-container>
      </select>
    </div>
  </div>
</div>

<div class="weui-cells__title">类型</div>
<div class="weui-cells">
  <div class="weui-cell weui-cell_select">
    <div class="weui-cell__bd">
      <select class="weui-select" name="select1">
        <option selected="" value="0">其它</option>
        <ng-container *ngFor="let item of types">
          <option value="{{item.code}}">{{item.name}}</option>
        </ng-container>
      </select>
    </div>
  </div>
</div>

<div class="weui-btn-area">
  <a class="weui-btn weui-btn_primary" (click)="save()">确定</a>
</div>
