<div class="weui-tab">
  <div class="weui-tab__panel">
    <router-outlet></router-outlet>
  </div>
  <div class="weui-tabbar">
    <a href="javascript:" class="weui-tabbar__item" [routerLink]="['/note']" routerLinkActive="weui-bar__item_on">
      <p class="weui-tabbar__label">记录</p>
    </a>
    <a href="javascript:" class="weui-tabbar__item" [routerLink]="['/store']" routerLinkActive="weui-bar__item_on">
      <p class="weui-tabbar__label">仓库</p>
    </a>
    <a href="javascript:" class="weui-tabbar__item" [routerLink]="['/equip']" routerLinkActive="weui-bar__item_on">
      <p class="weui-tabbar__label">配装</p>
    </a>
    <a href="javascript:" class="weui-tabbar__item" [routerLink]="['/my']" routerLinkActive="weui-bar__item_on">
      <p class="weui-tabbar__label">我的</p>
    </a>
  </div>
</div>
