<div class="weui-flex">
  <div class="weui-flex__item">
    <h1 class="d2-header">我的仓库</h1>
  </div>
  <div class="weui-flex__item position-relative">
    <a href="javascript:" class="weui-btn weui-btn_primary position-absolute b30" (click)="add()">
      添加账号
    </a>

  </div>
</div>
<div class="weui-flex">
  <div class="weui-flex__item">
    <div class="weui-cells">

      <ng-container *ngFor="let item of list">


        <div class="weui-cell" (click)="item['flag'] = !item['flag']" [ngClass]="{'weui-cell_swiped': item['flag']}">
          <div class="weui-cell__bd" [ngStyle]="{'transform': item['flag']?'translateX(-68px)':'translateX(0)'}">
            <div class="weui-cell" *ngIf="item['flag']">
              <div class="weui-cell__bd">
                <p>{{item.name}}</p>
              </div>
              <div class="weui-cell__ft">
                <i *ngIf="!item['complete']" class="weui-icon-warn"></i>
                <i *ngIf="item['complete']" class="weui-icon-success"></i>
              </div>
            </div>

            <p *ngIf="!item['flag']">{{item.name}}</p>
          </div>
          <div class="weui-cell__ft" *ngIf="!item['flag']">
            <i *ngIf="!item['complete']" class="weui-icon-warn"></i>
            <i *ngIf="item['complete']" class="weui-icon-success"></i>
          </div>

          <div class="weui-cell__ft" *ngIf="item['flag']">
            <a class="weui-swiped-btn weui-swiped-btn_warn" href="javascript:">删除</a>
          </div>
        </div>

      </ng-container>

    </div>


  </div>
</div>
